 <div class="topnav">
   <a href="#">THE ONION</a>
   <a href="#clickhole">CLICKHOLE</a>
   |
   <a href="#av-club">THE A.V. CLUB</a>
   <a href="#deadspin">DEADSPIN</a>
   <a href="#gizmodo">GIZMODO</a>
   <a href="#jalopnik">JALOPNIK</a>
   <a href="#jezebel">JEZEBEL</a>
   <a href="#kotaku">KOTAKU</a>
   <a href="#lifehacker">LIFEHACKER</a>
   <a href="#splinter">SPLINTER</a>
   <a href="#the-root">THE ROOT</a>
   <a href="#the-takeout">THE TAKEOUT</a>
   |
   <a href="#the-inventory">THE INVENTORY</a>
 </div>
