body {
  background-color: lightgray;
  font-family: sans-serif;
}
/*
body {
  background-color: white;
  margin-left: 164px;
} */

h1 {
  text-align: center;
}

img {
  height: 50%;
  width: 50%;
  text-align: center;
}
