body {
  font-family: sans-serif;
}

h1 {
  text-align: center;
  font-size: 50px;
}

.image {
  max-width: 50%;
  float: left;
  /* vertical-align: top;
  border: 5px solid, black;
  margin-left: auto;
  margin-right: auto; */
}

.image:hover {
  width: 100%;
}
